header {
    background-color: #7FB3D5;
    font-family: "Century Gothic", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    max-width: 100%;
    width: 100%;
    height: 57px;
    padding-left: 0px;
    /* position: fixed;
    top: 0; */
    /* transition: top 0.2s ease-in-out;
    z-index: 100; */
}

header img {
    padding: 3px;
}

.alret-msg {
    margin-top: 80px;
}

.alert {
    margin-right: 5px;
}

/* .nav-up {
    top: -60px;
} */

header a {
    color: white;
}

header a:hover {
    color: #ff9980;
    text-decoration: none;
}

.floatright {
    float: right;
}

body {
    overflow-x: hidden;
    color: gray;
}

.main {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: "Century Gothic", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    min-height: 600px;
}

.main p {
    font-family: "Century Gothic", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: gray;
}

.main h1, h2, h3 {
    font-family: "Century Gothic", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin: 20px 0px;
    color: gray;
}

.main input[type=text]:focus {
    border: 1px solid #555;
}

.main input[type=submit] {
    width: 20%;
    min-width: 150px;
    color: #52627c;
}

.main input[type=submit]:hover {
    background-color: #bababa;
    border: 1px solid #bababa;
}

.main a {
    color: gray;
}

.main a:hover {
    color: #ff9980;
    text-decoration: none;
}

.main ul {
    color: gray;
}

.homebody{
    background-image: url('/static/images/homebackground.jpg');
    background-repeat: norepeat;
    background-color: lightgray;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    width: 80%;
    max-width: 800px;
    font-family: "Century Gothic", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: white;
    position: absolute;
    top: 20%;
    text-align: center;
    padding-right: 0px;
    margin-top: 10%;
}

.home h1 {
    font-size: 500%;
    color: white;
    padding-top: 10px;
}

.home p {
    font-size: 1.5em;
    color: white;
}

.home input {
    padding: 12px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.home input[type=text]:focus {
    border: 1px solid #555;
    min-width: 150px;
}

.home input[type=submit] {
    width: 20%;
    min-width: 150px;
    color: #52627c;
}

.home input[type=submit]:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: #ff9980;
}

.addinfo a {
    font-size: 0.8em;
    padding: 10px;
}

.sub-text {
    font-size: 0.8em;
}

.vertbar {
    color: lightgray;
}

.filter {
    margin-bottom: 30px;
}

.filter a {
    color: gray;
    text-align: center;
    padding: 0px 15px;
}

.filter a:hover {
    text-decoration: none;
    color: #ff9980;
}

.rcard img {
    margin: 10px;
}

.rcard a:hoover {
    text-decoration: none;
    color: #ff9980;
}

.rcard {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.results input {
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.resultimg {
    max-width: 230px;
    max-height: 200px;
}

.btn-new {
    background-color: #ff9980;
    color: white;
}

.btn-new:hover{
    background-color:#ff886b;
}

.btn-save:hover {
    color: #ff886b;
}

.breadcrumbs a{
    color: #ff886b;
    font-size: 0.8em;
}

.breadcrumbs a:hover {
    color: gray;
}

.edit-profile {
    float: right;
}

.recipe_img {
    width: 350px;  
}

.centertext {
    text-align: center;
}


.login input {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.login input[type=submit] {
    width: 20%;
    color: #52627c;
}

.login input[type=submit]:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: #ff9980;
}

.login {
    color: gray;
}

.alert {
    position: static;
}

footer {
    padding: 25px;
    background-color: #EEE;
    color: #7FB3D5;
    font-size: 0.7em;
}

footer a {
    color: #7FB3D5;
    text-decoration: none;
}

footer a:hover {
    color: #ff9980;
    text-decoration: none;
}

.deleteingredient {
    margin: 0px;
    padding: 3px;
}

.pinklink a{
    color: #ff9980;
}

.pinklink a:hover {
    color: #fc7c5c;
}
