{% extends "layout.html" %} 

{% block title %}| Recipe{% endblock %} 

{% block content %}
<div class="main">
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %} 
        {% endif %} 
    {% endwith %}

    <div class="row">
        <div class="col-md-12 breadcrumbs">
            <a href="{{ url_for('results', ingredient=False, remove=False) }}">
                < Back to Search Results</a>
        </div>
        <div class="col-md-12">
            {% for result in recipeinfo %}
            <h1>{{ result['title'] }}</h1>
        </div>
    </div>
    <div class="row recipe">
        <div class="col-md-6">
            <img src="{{ result['image'] }}" class="recipe_img img-fluid">
            {% if result['image'] == Null %}
                <img class="resultimg img-fluid" src="/../static/images/large_logo.png">
            {% endif %}
            <div class="addinfo pinklink">
                    <a href="{{ result['sourceUrl'] }}" target="_blank">Source Recipe</a>
                    <a href="{{ url_for('save', r_id=result['id']) }}">Save Recipe</a>
            </div>
        </div>
        <div class="col-md-6">
            <p>
               <b>Ready in:</b> {{ result['readyInMinutes'] }} minutes
                <br> 
                <b>Servings:</b> {{ result['servings'] }}<br>
                <b>Number of Likes:</b> {{ result['aggregateLikes'] }}
            
            </p>
            <h3>Ingredients:</h3>
            <ul>
                {% for i in result['extendedIngredients'] %}
                <li>{{ i['originalString'] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12"><h3>Directions:</h3></div>
        <div class="col-md-12">
        <ul>
            {% for i in result['analyzedInstructions'] %}
                {% for f in i['steps'] %}
                        <li>{{ f['step'] }}</li>
                {% endfor %} 
            {% endfor %}
        </ul>
        <p class="pinklink">Find more information about recipe <a href="{{ result['sourceUrl'] }}" target="_blank">here</a>.</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}